.autoselect {
    position: relative;
    width: 200px;
}

.autoselect form {
    border-style: double;
    border-width: medium;
    border-color: gray;
    border-radius: 8px;
}

.search-bar {
    width: inherit;
}

.search-bar input {
    width: inherit;
    border: 0;
    padding: 0;
    margin: 0;
}

.suggestion-list {
    margin-top: 2px;
    position: absolute;
    display: none;
    z-index: 100;
    width: 100%;
    background-color: #FFFFFF;
    border-style: double;
    border-width: medium;
    border-color: gray;
    border-radius: 8px;
}

.suggestion-list.is-open {
    display: block;
}

.suggestion:hover {
    background-color: #cacaca;
}